@page
@model OrderLogisticsManagerApplication.Pages.Workshop.PickupRequests.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PickupRequest[0].PickupRequestAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupRequest[0].PickupRequestTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PickupRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PickupRequestAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupRequestTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PickupRequestID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PickupRequestID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PickupRequestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
