@page
@model OrderLogisticsManagerApplication.Pages.Office.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.ApplicationUserGUID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.ApplicationUserGUID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TheUser.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TheUser.Status.StatusDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TheUser.UserID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
