@page
@model OrderLogisticsManagerApplication.Pages.Office.ApplicationLogs.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Log</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Log.LogTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Log.LogTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Log.LogAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Log.LogAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Log.LogOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Log.LogOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Log.LogDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Log.LogDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Log.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Log.User.ApplicationUserGUID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Log.LogID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
