@page
@model OrderLogisticsManagerApplication.Pages.Workshop.Pickups.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pickup[0].PickupTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pickup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PickupTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PickupID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PickupID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PickupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
